[submodule "fluffyGram_dev"]
	path = fluffyGram_dev
	url = git@github.com:krolchonok/fluffyGram_dev
	branch = main
[submodule "TMessagesProj/lib/jlatexmath"]
	path = TMessagesProj/lib/jlatexmath
	url = https://github.com/dkaraush/jlatexmath-android.git
[submodule "TMessagesProj/jni/third_party/libyuv"]
	path = TMessagesProj/jni/third_party/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "TMessagesProj/jni/tlottie"]
	path = TMessagesProj/jni/tlottie
	url = https://github.com/dkaraush/tlottie.git
[submodule "TMessagesProj/jni/third_party/openh264"]
	path = TMessagesProj/jni/third_party/openh264
	url = https://github.com/cisco/openh264.git
