.idea/
.gradle/
build/
obj/
*.iml
local.properties
fluffyGram_dev/
TMessagesProj/config/release.keystore
TMessagesProj/google-services.json
TMessagesProj_App/google-services.json
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/
